label{
    float: left;
    margin-left: 3%;
    width: 17%;
}

#buyingTicketContent{
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 3%;
}
#paymentSection{
    margin-top: 1vw;
    margin-bottom: 6vw;
}

#paymentButton{
    justify-content: right;
}
#paymentButton button{
    width: 40%;
    height: 100px;
    margin-top: 2vw;
    border: none;
    background-color: #58baa7;
    margin-right: 0;
    margin-left: 20%;
    color: #21204c;
}

#paymentButton button:hover{
    background-color: #018c8c;
}

#selectDiscount{
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 52%;
    float: none;
    width: 27%;
}

#selectDiscount select{
    background-color: #a4ace7;
    border: none;
}

.form-group{
    width: 98.5%;
    margin-top: 2vw;
    margin-right: 1.5%;
}

.form-control{
    width: 60%;
    border:none;
    background-color: #a4ace7;
}

#ticketPoolAvailable{
    width: 79%;
    height: 5vw;
    margin-right: 1.5%;
    margin-bottom: 2vw;
    margin-top: 2vw;
    float: left;
    background-color: #584e9a;
    display: grid;
    grid-template-columns: 45% 5% 35% 5% 5% 5%;
    padding: 20px;
    grid-template-areas:
        "poolName ticketPrice currency minus number plus";
    text-align: center;
}

.ticketPoolPrice{

    color: #58baa7;
    grid-area: ticketPrice;
    align-items: center;
    display: flex;
    justify-content: center;
}

#currency{
    grid-area: currency;
    align-items: center;
    display: flex;
    justify-content: left;
    color: #58baa7;
}


.plusSign{
    color: black;
    background-color: #a4ace7;
    grid-area: plus;
    align-items: center;
    display: flex;
    justify-content: center;
}

.minusSign{
    color: black;
    background-color: #a4ace7;
    grid-area: minus;
    align-items: center;
    display: flex;
    justify-content: center;
}

.plusSign:hover, .minusSign:hover{
    cursor: pointer;
    background-color: #58baa7;
}
.numberOfTickets{
    grid-area: number;
    align-items: center;
    display: flex;
    justify-content: center;
}
.ticketPoolName{
    grid-area: poolName;
    align-items: center;
    display: flex;
    justify-content: center;
}
div p {
    margin: 0
}

#Price{
    font-size: xx-large;
    float: left ;
    height: 3vw;
    width: 20%;
    align-items: center;
    justify-content: center;
}

#Price p{
    float: left;
}
#finalPrice{
    font-size: xx-large;
}

#informationAboutEvent{
    margin-top: 2vw;
    margin-bottom: 20px;
    width: 79%;
    font-size: x-large;
}

.eventLabels{
    margin-top: 2vw;
    margin-left: 1%;
    color: #58baa7;
    width: 39%;
    float: left;
    margin-right: 10%;
}

.eventData{
    margin-top: 2vw;
    float: left;
    width: 50%;
    text-align: center;
}