body {
    background-color: #21204c;
    font-family: 'Alata';
    color: #d686d7;
}

input {
    background-color: #a4ace7;
    color: #d686d7;
}

a {
    text-decoration: none;
}


header {
    padding-bottom: 80px;
}

.your-bg-navbar {
    background-color: #d686d7;
}
.nav-item{
    position: relative;
    margin-right: 1vw;
}
.nav-link {
    color: #584e9a !important;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand {
    color: #584e9a !important;
    font-size: 35px;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #58baa7;
}

.dropdown-item {
    color: #584e9a !important;
    font-size: 20px;
    font-weight: bold;
}