.data{
    margin-top: 3%;
    position: relative;
    width: 100%;
    height: auto;
}

.aa{
    margin-right: 11%;
    position: relative;
}
#add-photo-button button{
    width: 34%;
    height: 7vw;
    font-size: 50px;
    background-color: #d686d7;
    margin-left: 5%;
    border-width: 0;
}



#ticketPool{
    width: 70%;
    height: 4vw;
    margin-left: 10%;
    margin-bottom: 3vw;
    float: left;
    background-color: #584e9a;
    position: relative;
    display: grid;

    grid-template-areas:
        "poolName add-pool-button";
    text-align: center;
}

.add-pool-button button{
    width: 15%;
    height: 3.5vw;
    font-size: 25px;
    background-color: #d686d7;
    margin-right: 80%;
    border-width: 0;

}
.ticketPoolName{
    grid-area: poolName;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 80%;
    padding-top: 1vw;
}
.add-pool-button{
    grid-area: add-pool-button ;
    align-items: center;
    display: flex;
    justify-content: center;
}
.input{
    background-color: #d686d7;
    display: block;
    width: 60%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    float: right;
    margin-right: 20%;

    color: black;
    position: relative;
    outline-width: 0;
    margin-bottom: 30px;
}

#photo{
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
    width: 60%;
}
#localization{
    margin-top: 5%;
    margin-left: 10%;
}
iframe{
    width: 22.5%;
}
label{

    display: block;
    width: 0%;
    float: left;
    margin-right: 20%;
    /*margin-inside: 10px;*/
    color: #d686d7;;
    position: relative;
}
.form{
    float: left;
    position: relative;
    margin-bottom: -30px;
    margin-left: 10%;
}
#verification-button{
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
}
#verification-button button{
    position: relative;
    float: right;
    margin-right: 20%;
    background-color: #58baa7;
    margin-top: 10%;
    border: none;
    height: 100px;
    width: 40%;
    font-size: 25px;
}
#verification-button button:hover{


    background-color: #018c8c;
}
