
.title  {
    font-size: 40px;
    margin-left: 44%;
}
.date label{
    font-size: 20px;
}
.form-control {
    width: 50%;
    margin-bottom: 1vw;
}
.date{
    margin-left: 32%;
    display: grid;
    grid-template-areas:
    "name "
    "surname"
    "login "
    "email"
    "password"
    "password2"
}
.form-group {
    /*text-align: center;*/
}

#name {
    grid-area: name;
}

#password {
    grid-area: password;
}

#password2 {
    grid-area: password2;
}

#surname {
    grid-area: surname;
}

#email {
    grid-area: email;
}

#login {
    grid-area: login;
}
#signInButton {
     background-color: #58baa7;
     color: #ffffff;
     font-weight: bold;
     font-size: calc(1vh + 1vw);
     margin-top: 5vh;
     margin-left: 42vw;
     width: 15vw;
     height: 5vw;
     border-width: 0;
 }