p {
    position: absolute;
    left: 15vw;
    top: 20vh;
}

.searchBar {
    color:black;
    border: 1px;
    border-radius: 50px;
    height: 35px;
    width: 66vw;
}

input {
    padding-left: 10px;
    outline-width: 0;
}


button {
    margin-left: -30px;
    height: 35px;
    border-width: medium;
    border-radius: 50px;
    border-color: #d686d7;
    background-color: #a4ace7;
    color: #584e9a;
}

button:hover {
    background-color: #d686d7;
}

.recommended {
    position: absolute;
    top: 27.5vh;
    left: 45vw;
    color: #58baa7;
    font-size: calc(2vw + 2vh);
}

.slider {
    overflow: hidden;
    height: 50vh;
    width: 70vw;
    margin-left: 14.5vw;
    margin-top: 30vh;
}

@-webkit-keyframes slideAnimation {
    0% {left:0;}
    10% {left:0;}
    20% {left:70vw;}
    30% {left:70vw;}
    40% {left:140vw;}
    50% {left:140vw;}
    60% {left:70vw;}
    70% {left:70vw;}
    80% {left:0;}
    90% {left:0;}
    100% {left:0;}
}

img {
    height: 50vh;
    width: 70vw;
}

.slideImages {
    width: 210vw;
    height: 50vh;
    position: relative;
    margin-left: -140vw;
    -webkit-animation-name: slideAnimation;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.imgContainer {
    height: 50vh;
    width: 70vw;
    position: relative;
    float: right;
}