.userChooseButton {

}
#organizerLogin, #userLogin, #registerButton{

    font-size: 2vw ;

    background-color: #58baa7;
    border-width: 0;
    color: #ffffff;
    height: 15vw;
    width: 20%;
    position: relative;
}
#organizerLogin:hover{
    background-color: #018c8c;
}
#userLogin:hover{
    background-color: #018c8c;
}
#userLogin{

    margin-left: 28%;
    margin-top: 5%;
    float: left;
}
#organizerLogin{
    margin-top: 5%;
    margin-right: 28%;
    float: right;
}
.loginLabel {
    color: #584e9a;
    width: 35vw;
    margin-top: 2vh;
    float: left;
    margin-left: 31.5vw;
    display: none;
    clear: both;
}

.loginButton {
    float: left;
    display: none;
    clear: both;
}

#loggingInAsType {
    font-weight: bold;
    font-size: calc(2vh + 2vw);
    margin-top: 10vh;
    margin-left: 30vw;
    margin-bottom: 1vh;
    float: left;
    display: none;
    clear: both;
}

#backButton {
    margin-left: 1vw;
    color: #58baa7;
    text-decoration: none;
    opacity: 1;
}

#backButton:hover {
   opacity: 0.8;
}

#signInButton {
    background-color: #58baa7;
    color: #ffffff;
    font-weight: bold;
    font-size: calc(1vh + 1vw);
    margin-top: 5vh;
    margin-left: 42vw;
    width: 15vw;
    height: 5vw;
    border-width: 0;
}

#signInButton:hover {
    background-color: #018c8c;
}

#registerButton{
    margin-left: 40%;
    margin-top: 3%;
    float: left;
    margin-bottom: 10%;

}
#registerButton a{
    color: #ffffff;
}
#registerButton:hover{
    background-color: #018c8c;
}