.grid_kontener {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "data"
    "ticketPool"
    "test"
    "photo"
    "localization"
    "verification"

}

/*///////////////////////////////////////////////*/
.data {
    margin-top: 3%;
    position: relative;
    width: 100%;
    height: auto;
    grid-area: data;
}

.form-group {

    margin-bottom: 1vw;
    margin-left: 10%;

}

.form-horizontal {
    margin-right: 10%;
    width: 60%;
    border: none;
    background-color: #a4ace7;
    height: 3vw;
}


.form-control {
    position: relative;
    float: right;
    margin-right: 22%;
    width: 66%;
    border: none;
    background-color: #a4ace7;
    height: 2vw;

}
.eventTime {
    color: black;
    margin-bottom: 1vw;
    display: grid;
    grid-template-areas:
    "date time"
}

.eventTime input {
    color: black;

}
.time {
    width: 40%;
    float: right;
    grid-area: time;
    margin-left: 26.5%;

}
.time label{

    margin-right: 30%;
}
.date {
    margin-left: 46%;
    width: 40%;
    grid-area: date;
}
.eventLocalization{
    margin-left: 10%;
    color: black;
    margin-bottom: 1vw;
    display: grid;
    margin-right: 5.5%;
    grid-template-areas:
    "town street buildingNumber"

}
.eventLocalization input {
    color: black;

}
.town{
    grid-area: town;

}
.street{
    grid-area: street;



}

.buildingNumber{
    grid-area: buildingNumber;
    /*margin-right: 35%;*/
    /*width: 40%;*/
}
.eventLocalization input{
    width: 50%;
}
.buildingNumber label{
    margin-left: 3.5%;
}
.buildingNumber input{
    width: 37%;

}
.street label{
    /*margin-right: 20%;*/
}
.street input{
    /*margin-right: 50%;*/
}
/*///////////////////////////////////////////////*/

.ticketPool {
    grid-area: ticketPool;

    width: 72%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 2vw;
    float: left;
    background-color: #584e9a;
    position: relative;
    display: grid;
    font-size: 1.5vw;
    grid-template-areas:
        "poolName add-pool-button";
"test test" text-align: center;

}

/*#ticketPool{*/


/*}*/
.ticketPoolName {
    grid-area: poolName;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 80%;
    padding-top: 1vw;
}

#ticketPool button {
    width: 15%;
    height: 3.3vw;
    background-color: #d686d7;
    margin-right: 80%;
    border-width: 0;

}

.add-pool-button {
    grid-area: add-pool-button;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.newPool {
    width: 72%;
    height: 4vw;
    margin-left: 10%;
    margin-bottom: 2vw;
    float: left;
    background-color: #584e9a;
    font-size: 1.5vw;
    /*z-index: 2;*/
    text-align: center;
    display: flex;

}

/*///////////////////////////////////////////////*/

/*.input{*/
/*    border-radius: 5px;*/
/*    background-color: #a4ace7;*/
/*    color: #d686d7;*/
/*    display: block;*/
/*    width: 60%;*/
/*    overflow: hidden;*/
/*    resize: both;*/
/*    min-height: 40px;*/
/*    line-height: 20px;*/
/*    float: right;*/
/*    margin-right: 20%;*/

/*    color: black;*/
/*    position: relative;*/
/*    outline-width: 0;*/
/*    margin-bottom: 30px;*/
/*}*/
.aa {
    margin-right: 11%;
    position: relative;
}

/*///////////////////////////////////////////////*/
.photo {
    margin-top: 5%;
    grid-area: photo;
    position: relative;
}

#photo {

    /*margin-top: 20%;*/
    margin-left: 10%;
    width: 60%;
    /*grid-area: photo;*/

}

#add-photo-button label {
    width: 34%;
    height: 7vw;
    font-size: 4vw;
    background-color: #d686d7;
    color: BLACK;
    margin-left: 5%;
    border-width: 0;
    text-align: center;
}

/*///////////////////////////////////////////////*/

.localization {
    margin-top: 5%;
    margin-left: 10%;
    grid-area: localization;
}

iframe {
    width: 22.5%;
}

label {

    display: block;
    width: 0;
    float: left;
    margin-right: 20%;
    /*margin-inside: 10px;*/
    color: #d686d7;;
    position: relative;
}

/*///////////////////////////////////////////////*/

.verification-button {
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
    grid-area: verification;
}

#verification-button button {
    position: relative;
    float: right;
    margin-right: 20%;
    background-color: #58baa7;
    margin-top: 10%;
    border: none;
    height: 100px;
    width: 40%;
    font-size: 25px;
}

#verification-button button:hover {

    background-color: #018c8c;
}
